.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/logs
**/Logs

web/node_modules
web/dist
web/.vite

LocalAudioEngine/venv
LocalAudioEngine/*.wav
LocalAudioEngine/vits-piper-*
LocalAudioEngine/sherpa-onnx-*

.env
.env.*
*.user
*.suo
*.cache
TestResults
coverage
coverage.*
